<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
</head>

<body>
  <header>
    <h1>
      Tech Blog
    </h1>
    <nav>
      <button id="homeBtn">Home</button> |
      <button id="dashboardBtn">Dashboard</button> |

      <!-- Only display the login/logout options when appropriate -->
      {{#if logged_in}}
      <button id="logoutBtn">Logout</button> |
      {{else}}
      <button id="loginBtn">Login</button>
      {{/if}}

    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
    <script src="/js/links.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
  </footer>
</body>

</html>