<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>Tech Blog</title>
</head>

<body>
  <header>
    <h1>
      Tech Blog
    </h1>
    <nav>
      <button id="homeLink">Home</button> |
      <button id="dashboardLink">Dashboard</button> |

      <!-- Only display the login/logout options when appropriate -->
      {{#if logged_in}}
      <button id="logoutLink">Logout</button> |
      {{else}}
      <button id="loginLink">Login</button>
      {{/if}}

    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"></script>
    <script src="/js/links.js"></script>
  </footer>
</body>

</html>