<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
</head>

<body>
  <header>
    <h1>
      Tech Blog
    </h1>
    <nav>
      <button class="homeBtn">Home</button> |
      <button class="dashboardBtn">Dashboard</button> |
      <button class="loginBtn">Login</button> |
      <button class="logoutBtn">Logout</button></a>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
  </footer>
</body>

</html>