<h2>Sign Up:</h2>
<form id="signupForm">
    <label for="userName">Name:</label><br>
    <input type="text" id="userName" name="userName"><br>
    <label for="userEmail">Email:</label><br>
    <input type="text" id="userEmail" name="userEmail"><br>
    <label for="userPassword">Password:</label><br>
    <input type="password" id="userPassword" name="userPassword"><br><br>
    <input type="submit" id="registerBtn" value="Register">
</form>

<h2>Login:</h2>
<form id="loginForm">
    <label for="loginEmail">Email:</label><br>
    <input type="text" id="loginEmail" name="loginEmail"><br>
    <label for="loginPassword">Password:</label><br>
    <input type="password" id="loginPassword" name="loginPassword"><br><br>
    <input type="submit" id="loginBtn" value="Login">
</form>

<script src="/js/login.js"></script>