<h2>Login:</h2>
<form>
    <label for="userEmail">Email:</label><br>
    <input type="text" id="useremail" name="userEmail"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br>
    <input type="submit" value="Login">
</form>

<script src="/js/login.js"></script>